/*nanum squere*/

/*font-family: 'Nanum Square';*/


/*notosans kr*/
@font-face {
  font-family: "TT Commons";
  font-weight: 100;
  font-style: normal;
  src: url("../font/fontawesome-webfont.woff") format("woff");
}


@font-face {
  font-family: "TT Commons";
  font-weight: 200;
  font-style: normal;
  src: url("../font/fontawesome-webfont.woff") format("woff");
}

@font-face {
  font-family: "TT Commons";
  font-weight: 300;
  font-style: normal;
  src:  url("../font/fontawesome-webfont.woff") format("woff");
}

@font-face {
  font-family: "TT Commons";
  font-weight: 400;
  font-style: normal;
  src: url("../font/TTCommons-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "TT Commons";
  font-weight: 500;
  font-style: normal;
  src: url("../font/TTCommons-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "TT Commons";
  font-weight: 700;
  font-style: normal;
  src:url("../font/TTCommons-DemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "TT Commons";
  font-weight: 900;
  font-style: normal;
  src: url("../font/TTCommons-DemiBold.woff2") format("woff2");
}


/*bebas*/
/*@font-face {
  font-family: "Bebas Neue";
  font-weight: 100;
  font-style: normal;
  src: url("/font/BebasNeue-Regular.eot?") format("eot"),
  url("/font/BebasNeue-Regular.otf") format("opentype"),
  url("/font/BebasNeue-Regular.woff") format("woff"),
  url("/font/BebasNeue-Regular.woff2") format("woff2");
}*/


